#memeModal.modal.hide.fade
  .modal-body
    .meme-image
      .game-player.winner
        .player-avatar
      .game-player.loser
        .player-avatar
      .game-message.top
      .game-message.bottom