.game-box.boxes.hide
  .box.half-box
    .mini-score-box
    .dice-box
      .dice-show
        .message
      .js-rollDice.dice-button Roll Dice
    .game-board
      img(src='../images/boards/snakes-and-ladders-board.jpg')
  .box.half-box
    .dice-box
      .dice-show
        .message
      .js-rollDice.dice-button Roll Dice
