.game-select.hide
  .select-title Select Two Players
  .select-box(type='p-1')
    .game-player(type='p-1')
      .player-avatar
      .player-name AshBee
  .select-box(type='p-2')
    .game-player(type='p-2')
      .player-avatar
      .player-name Ashish
  .select-box(type='p-3')
    .game-player(type='p-3')
      .player-avatar
      .player-name Troll Kid
  .select-box(type='p-4')
    .game-player(type='p-4')
      .player-avatar
      .player-name Trollmaster
  .select-box(type='p-5')
    .game-player(type='p-5')
      .player-avatar
      .player-name NaMo NaMo
  .select-box(type='p-6')
    .game-player(type='p-6')
      .player-avatar
      .player-name Pappu
  .continue-button.hide Start The Game