.game-layout#game-title
  .image-box
  .continue-button
    .button.js-gameEnter Enter The Game
    .boxes.hide
      .box.half-box
        .button.js-gamePlay(type='local') Quick Play
      .box.half-box
        .button.js-gamePlay(type='global') Global Battle