.game-layout#game-box
  .section-title About the Game
  .section-content
    | A classic Board Game has come alive in your digital screen.
    | Make your way to the end of the board by rolling the dice, climbing the ladders and avoiding the snakes.
    | Test your luck in "Quick Play" or set up an online "Global Battle" challenging others.
    | You can compete with up to 4 players in a single game.
    br
    | For the nerds, this game has been developed in HTML5, CSS3 and JavaScript under NodeJS Express Framework.
    br
    | And for the rest, this game has been created with some "SWAG" and "LULZ"