.game-layout.game-mode.hide
  .game-mode-box
    .select-title Create New Battle
    .create-game-box
      input(type='text', name='gameName', placeholder='Enter an unique name', maxlength=20)
      .continue-button.display-inline
        .button.js-submitGame Submit
      .alert-msg.hide
  .game-mode-box
    .select-title Join Other Battle
    .join-game-box
      .continue-button.text-right
      table#gameList.hide
      #noGameList No game currently available. Please refresh the list or create a new game.