.game-title
  .image-box
  .continue-button
    .button.js-gameEnter Enter The Game
    .boxes.hide
      .box.half-box
        .button.js-gamePlay(type='offline') Quick Play
      .box.half-box
        .button.js-gamePlay(type='online') Online Duel