.game-layout#game-box
  .boxes
    .box.half-box
      .mini-score-box
      .dice-box
        .dice-show
          .message
        .js-rollDice.dice-button
          .button Roll Dice
      .game-board
        img(src='../images/boards/snakes-and-ladders-board.jpg')
    .game-score.box.half-box
      .dice-box
        .dice-show
          .message
        .js-rollDice.dice-button
          .button Roll Dice