doctype html
html
  head
    block head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.custom.min.css')
  body
    .main-content
      .content
        block content
  block js