extends layouts/default
block head
  title Snakes and Ladders
  include modals/memeModal
block content
  .container-fluid
    .row
      .col-xs-12
        .game-title
          .image-box
          .continue-button Click Here to Continue
      .col-xs-12
        .game-select.hide
          .select-title Select Two Players
          .select-box(type='1')
            .game-player(type='p-1')
              .player-avatar
              .player-name AshBee
          .select-box(type='2')
            .game-player(type='p-2')
              .player-avatar
              .player-name Ashish
          .select-box(type='3')
            .game-player(type='p-3')
              .player-avatar
              .player-name Troller
          .select-box(type='4')
            .game-player(type='p-4')
              .player-avatar
              .player-name Trollmaster
          .continue-button.hide Click Here to Begin the Game
  .game-box.hide
    .box.half-box
      .mini-score-box
      .game-board
        img(src='../images/boards/snakes-and-ladders-board.jpg')
      .dice-box
        .js-rollDice Roll Dice
        .message
    .box.half-box
      .dice-box
        .js-rollDice Roll Dice
        .message

block js
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/jquery-ui.min.js')
  script(src='js/game.js')
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript').
    $(document).ready(function(){
      gamePlay.initSnakeLadderGame();
          var socket = io();
              $('form').submit(function(){
              socket.emit('User select', $('#m').val());
              $('#m').val('');
              return false;
              });

            $('form').submit(function(){
            socket.emit('Dice points', $('#m').val());
            $('#m').val('');
            return false;
            });
              socket.on('Dice points', function(msg){
              $('#messages').append($('<li>').text(msg));
              });
              socket.on('User select', function(msg){
              $('#messages').append($('<li>').text(msg));
              });
    });
