@-ms-viewport {
  width: auto;
}
body {
  color: #666666;
  min-height: 300px;
  font: 14px Impact;
}
h1 {
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 400;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
h5,
h6 {
  font-size: 10px;
}
h6 {
  font-style: italic;
}
h2,
h3,
h4 {
  color: #1a1a1a;
  font-weight: 400;
}
a,
a:visited {
  text-decoration: none;
  color: #00adef;
}
img {
  max-width: 100%;
}
.text-caps {
  text-transform: uppercase;
}
.text-title {
  text-transform: capitalize;
}
.text-sentence::first-letter {
  text-transform: uppercase;
}
.text-light {
  color: #8c8c8c;
}
.text-lighter {
  color: #b3b3b3;
}
.text-dark {
  color: #404040;
}
.text-darker {
  color: #1a1a1a;
}
.text-blue {
  color: #00adef;
}
.text-white {
  color: #ffffff;
}
.text-err {
  color: #ff5a00;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.display-inline {
  display: inline-block;
}
.display-block {
  display: block;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-xsmall {
  font-size: 10px;
}
.text-small {
  font-size: 12px;
}
.text-base {
  font-size: 14px;
}
.text-medium {
  font-size: 16px;
}
.text-large {
  font-size: 18px;
}
.text-xlarge {
  font-size: 21px;
}
.hide {
  display: none;
}
.row {
  margin: 10px 0;
}
.err-txt {
  color: #ff5a00;
  font-size: 12px;
  white-space: nowrap;
}
.err-brdr {
  border: 1px solid #ff5a00 !important;
}
.brdr-bottom-base {
  border-bottom: 1px #dddddd solid;
}
.description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.description.jstfy {
  text-align: justify;
}
.description.lft {
  text-align: left;
}
.description a {
  margin: 0 5px;
}
.block-center {
  margin: 0px auto;
}
.main-content {
  min-height: 600px;
}
.main-content > .content {
  width: 1200px;
  margin: 0px auto;
}
.bkgrnd-p-1 {
  background-color: #ff0000;
}
.bkgrnd-p-2 {
  background-color: #0000ff;
}
.bkgrnd-p-3 {
  background-color: #ff00ff;
}
.bkgrnd-p-4 {
  background-color: #ffdd00;
}
.bkgrnd-p-5 {
  background-color: #ff9900;
}
.bkgrnd-p-6 {
  background-color: #00f000;
}
.bkgrnd-p-7 {
  background-color: #33ddff;
}
.bkgrnd-p-8 {
  background-color: #aa44ee;
}
.bkgrnd-game-1 {
  background-color: #bbdddd !important;
}
.bkgrnd-game-1 .loading {
  background-image: url(../images/gifs/loader-game-1.gif) !important;
}
.bkgrnd-game-2 {
  background-color: #aaccaa !important;
}
.bkgrnd-game-2 .loading {
  background-image: url(../images/gifs/loader-game-2.gif) !important;
}
.bkgrnd-game-3 {
  background-color: #ddaaff !important;
}
.bkgrnd-game-3 .loading {
  background-image: url(../images/gifs/loader-game-3.gif) !important;
}
.bkgrnd-game-4 {
  background-color: #ffaaff !important;
}
.bkgrnd-game-4 .loading {
  background-image: url(../images/gifs/loader-game-4.gif) !important;
}
.bkgrnd-game-5 {
  background-color: #ffff77 !important;
}
.bkgrnd-game-5 .loading {
  background-image: url(../images/gifs/loader-game-5.gif) !important;
}
.bkgrnd-game-6 {
  background-color: #ffaa55 !important;
}
.bkgrnd-game-6 .loading {
  background-image: url(../images/gifs/loader-game-6.gif) !important;
}
.bkground-light {
  background-color: #fafafa;
}
.bkground-lighter {
  background-color: #fcfcfc;
}
.bkground-dark {
  background-color: #c7c7c7;
}
.bkground-darker {
  background-color: #949494;
}
.bkground-white {
  background-color: #ffffff;
}
ol {
  font-size: 12px;
  counter-reset: item;
  padding-left: 10px;
  font-weight: bold;
}
ol > li {
  display: block;
  margin: 5px 0;
}
ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
ol.sub-norm {
  font-weight: normal;
}
ul {
  font-weight: normal;
}
ul.feature {
  padding-left: 20px;
}
ul.alpha {
  list-style-type: lower-alpha;
}
ul.roman {
  list-style-type: lower-roman;
}
.pad0 {
  padding: 0;
}
.text-color-p-1 {
  color: #ff0000 !important;
}
.text-color-p-2 {
  color: #0000ff !important;
}
.text-color-p-3 {
  color: #ff00ff !important;
}
.text-color-p-4 {
  color: #ffdd00 !important;
}
.text-color-p-5 {
  color: #ff9900 !important;
}
.text-color-p-6 {
  color: #00f000 !important;
}
.text-color-p-7 {
  color: #33ddff !important;
}
.text-color-p-8 {
  color: #aa44ee !important;
}
.meme-font {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}
.alert-msg {
  font-size: 20px;
}
@-webkit-keyframes zoom-text {
  from {
    font-size: 100%;
  }
  to {
    font-size: 110%;
  }
}
@keyframes zoom-text {
  from {
    font-size: 100%;
  }
  to {
    font-size: 110%;
  }
}
.zoom-text {
  -webkit-animation: zoom-text linear 0.25s infinite alternate;
  animation: zoom-text linear 0.25s infinite alternate;
}
.display-transition {
  transition: opacity 0.5s linear, visibility 0.5s linear;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
}
.game-layout {
  border-radius: 25px;
  padding: 15px;
}
#game-title {
  height: 575px;
}
#game-title .image-box {
  background: url('../images/banners/snakes-and-ladders-banner.png') no-repeat center;
  background-size: contain;
  height: 400px;
}
.section-title {
  margin: 25px 0;
  font-size: 75px;
  text-align: center;
}
.time-count {
  text-align: center;
  display: none;
  font-size: 30px;
  color: #ffffff;
}
.game-mode-box {
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}
.game-mode-box input[type=text] {
  background: transparent;
  padding: 10px;
  font-size: 30px;
  width: 700px;
  background-position: 98% center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 10px;
  vertical-align: middle;
  color: #ffffff;
}
.game-mode-box input[type=text]::-webkit-input-placeholder {
  color: #ffffff;
}
.game-mode-box input[type=text]:-moz-placeholder {
  color: #ffffff;
}
.game-mode-box input[type=text]::-moz-placeholder {
  color: #ffffff;
}
.game-mode-box input[type=text]:-ms-input-placeholder {
  color: #ffffff;
}
.game-mode-box input[type=text]:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
}
.game-mode-box .alert-msg {
  margin-top: 5px;
  color: #ffffff;
}
.game-mode-box .create-game-box .continue-button {
  width: 150px;
}
.game-mode-box .continue-button {
  font-size: 45px;
  margin: 0 0 0 15px;
  vertical-align: middle;
}
.game-mode-box:last-child {
  border-top: 2px solid #ffffff;
}
.game-mode-box table#gameList {
  width: 75%;
  margin: 0px auto;
}
.game-mode-box table#gameList tr {
  font-size: 30px;
}
.game-mode-box table#gameList tr td {
  border-bottom: 1px solid #ffffff;
  padding: 5px 0;
  width: 33%;
  height: 70px;
}
.game-mode-box table#gameList tr td:first-child {
  text-align: left;
}
.game-mode-box table#gameList tr td .continue-button {
  text-align: right;
}
.game-mode-box table#gameList tr:last-child td {
  border-bottom: 0;
}
.game-mode-box #noGameList {
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 80%;
  margin: 0px auto;
  color: #ffffff;
  font-size: 25px;
}
#game-select {
  text-align: center;
}
#game-select .select-box {
  display: inline-block;
  height: 320px;
  width: 250px;
  cursor: pointer;
}
#game-select .select-box.hide {
  display: none;
}
#game-select .select-box:hover .game-player .player-avatar {
  opacity: 0.1;
}
#game-select .select-box:hover .game-player .player-record {
  visibility: visible;
  opacity: 1;
}
#game-select .select-box.selected .player-avatar {
  /*-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
  background-color: #fcfcfc;
  opacity: 0.1;
}
#game-select .select-box .game-player {
  margin: 20px auto;
  position: static;
  width: 200px;
  height: 200px;
  border: 6px solid;
  background-color: #ffffff;
}
#game-select .select-box .game-player .player-avatar {
  background-position-y: 60% !important;
}
#game-select .select-box .game-player .player-who {
  position: absolute;
  padding: 70px 0px;
  text-align: center;
  width: inherit;
  font-size: 50px;
}
#game-select .select-box .game-player .player-record {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
  position: absolute;
  width: inherit;
  text-align: center;
  background-color: #ffffff;
  border-radius: inherit;
  padding: 50px 0;
}
#game-select .select-box .game-player .player-record .title {
  font-size: 30px;
}
#game-select .select-box .game-player .player-record .rec {
  font-size: 50px;
}
#game-select .select-box .player-name {
  color: #fff;
  margin: 15px 0;
  font-size: 30px;
}
#game-select .continue-button {
  height: 100px;
}
.back-button {
  text-align: left;
  font-size: 25px;
  height: 30px;
  margin: 0 5px -40px;
  color: #ffffff;
  cursor: pointer;
}
.back-button .button {
  display: inline-block;
}
.back-button .button:hover {
  -webkit-animation: zoom-text linear 0.25s infinite alternate;
  animation: zoom-text linear 0.25s infinite alternate;
}
.continue-button {
  text-align: center;
  color: #fafafa;
  margin: 40px 0;
  font-size: 75px;
}
.continue-button .button {
  display: inline-block;
  cursor: pointer;
}
.continue-button .button:hover {
  -webkit-animation: zoom-text linear 0.25s infinite alternate;
  animation: zoom-text linear 0.25s infinite alternate;
}
.continue-button .box {
  font-size: 60px;
}
.boxes {
  width: 100%;
  font-size: 0;
}
.boxes .box {
  display: inline-block;
  vertical-align: top;
}
.boxes .box.half-box {
  width: 50%;
}
#game-box .boxes .box {
  font-size: 14px;
}
#game-box .boxes .box:first-child .dice-box {
  display: none;
}
.player-message {
  position: absolute;
  top: 75px;
}
.game-player {
  position: absolute;
  border-radius: 50%;
  border: 3px solid;
}
.game-player[type=p-1] {
  color: #ff0000;
}
.game-player[type=p-1] .player-avatar {
  background: url('../images/avatars/avatar-1.png') no-repeat;
}
.game-player[type=p-2] {
  color: #0000ff;
}
.game-player[type=p-2] .player-avatar {
  background: url('../images/avatars/avatar-2.png') no-repeat;
}
.game-player[type=p-3] {
  color: #ff00ff;
}
.game-player[type=p-3] .player-avatar {
  background: url('../images/avatars/avatar-3.png') no-repeat;
}
.game-player[type=p-4] {
  color: #ffdd00;
}
.game-player[type=p-4] .player-avatar {
  background: url('../images/avatars/avatar-4.png') no-repeat;
}
.game-player[type=p-5] {
  color: #ff9900;
}
.game-player[type=p-5] .player-avatar {
  background: url('../images/avatars/avatar-5.png') no-repeat;
}
.game-player[type=p-6] {
  color: #00f000;
}
.game-player[type=p-6] .player-avatar {
  background: url('../images/avatars/avatar-6.png') no-repeat;
}
.game-player[type=p-7] {
  color: #33ddff;
}
.game-player[type=p-7] .player-avatar {
  background: url('../images/avatars/avatar-7.png') no-repeat;
}
.game-player[type=p-8] {
  color: #aa44ee;
}
.game-player[type=p-8] .player-avatar {
  background: url('../images/avatars/avatar-8.png') no-repeat;
}
.score-board {
  padding: 15px;
  position: relative;
  color: #fff;
  border-radius: 10px;
  font-size: 30px;
  margin: 25px 0 25px 10px;
}
.score-board .game-player {
  width: 150px;
  height: 150px;
  border: 6px solid;
  top: -55px;
}
.score-board .game-player .player-avatar {
  background-position-y: 60% !important;
}
.dice-box {
  height: 130px;
}
.dice-box .dice-show {
  width: 100px;
  min-height: 65px;
  margin: 10px auto;
  border: 2px solid;
  border-radius: 5px;
  background-color: #ffffff;
}
.dice-box .dice-show.animate {
  background: url('../images/gifs/rolling-dice.gif') no-repeat center;
  background-size: contain;
  background-color: #ffffff;
}
.dice-box .dice-show .message {
  font-size: 40px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.dice-box .dice-button {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.dice-box .dice-button .button {
  display: inline-block;
  cursor: pointer;
}
.dice-box .dice-button .button:hover {
  -webkit-animation: zoom-text linear 0.25s infinite alternate;
  animation: zoom-text linear 0.25s infinite alternate;
}
.score-box {
  margin-top: 15px;
}
.score-box:nth-child(2n+2) .score-board {
  text-align: right;
}
.score-box:nth-child(2n+2) .score-board .game-player {
  left: 5px;
}
.score-box:nth-child(2n+2) .score-board .player-message {
  left: 155px;
}
.score-box:nth-child(2n+1) .score-board {
  text-align: left;
}
.score-box:nth-child(2n+1) .score-board .game-player {
  right: 5px;
}
.score-box:nth-child(2n+1) .score-board .player-message {
  right: 155px;
}
.game-board {
  position: relative;
}
.game-board .game-player {
  width: 40px;
  height: 40px;
  bottom: 30px;
  left: 20px;
  /*&:nth-child(2){
      bottom: 20px;
      left: 10px;
    }
    &:nth-child(3){
      bottom: 40px;
      left: 30px;
    }
    &:nth-child(4){
      bottom: 20px;
      left: 30px;
    }
    &:nth-child(5){
      bottom: 40px;
      left: 10px;
    }*/
}
.game-board .game-player .player-avatar {
  background-position-y: 60% !important;
}
.game-board img {
  border-radius: 25px;
}
.player-avatar {
  height: inherit;
  background-size: 400% !important;
  border-radius: 50%;
}
.player-avatar[type=normal] {
  background-position-x: 0% !important;
}
.player-avatar[type=sad] {
  background-position-x: 33% !important;
}
.player-avatar[type=angry] {
  background-position-x: 67% !important;
}
.player-avatar[type=happy] {
  background-position-x: 100% !important;
}
.mini-score-box {
  display: none;
}
#memeModal {
  background: #52c9f4;
}
#memeModal .modal-body {
  padding: 10px;
}
#memeModal .meme-image {
  position: relative;
  height: inherit;
  background-size: cover;
  border-radius: 10px;
}
#memeModal .meme-image .game-player {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid;
}
#memeModal .meme-image .game-player .player-avatar {
  background-position-y: 60% !important;
}
#memeModal .meme-image .game-message {
  text-align: center;
  width: 100%;
  font-size: 40px;
  position: absolute;
  z-index: 5;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}
#memeModal .meme-image .game-message.bottom {
  bottom: 0px;
}
[type=image-2-result-1] .modal-body {
  height: 430px;
}
[type=image-2-result-1] .modal-body .meme-image {
  background: url('../images/memes/2-battle-result-1.jpg');
}
[type=image-2-result-1] .modal-body .meme-image .p1 {
  top: 50px;
  left: 185px;
  width: 130px !important;
  height: 130px !important;
}
[type=image-2-result-1] .modal-body .meme-image .p2 {
  bottom: 100px;
  right: 5px;
  width: 130px !important;
  height: 130px !important;
}
[type=image-2-result-1] .modal-body .game-message {
  font-size: 45px !important;
}
[type=image-2-result-2] .modal-body {
  height: 430px;
}
[type=image-2-result-2] .modal-body .meme-image {
  background: url('../images/memes/2-battle-result-2.jpg');
}
[type=image-2-result-2] .modal-body .meme-image .p1 {
  top: 125px;
  right: 85px;
}
[type=image-2-result-2] .modal-body .meme-image .p2 {
  top: 5px;
  left: 215px;
  width: 90px !important;
  height: 90px !important;
}
[type=image-2-result-2] .modal-body .game-message {
  font-size: 30px !important;
}
[type=image-3-result-1] .modal-body {
  height: 430px;
}
[type=image-3-result-1] .modal-body .meme-image {
  background: url('../images/memes/3-battle-result-1.jpg');
}
[type=image-3-result-1] .modal-body .meme-image .p1 {
  top: 65px;
  right: 35px;
  width: 110px !important;
  height: 110px !important;
}
[type=image-3-result-1] .modal-body .meme-image .p2 {
  top: 55px;
  left: 115px;
  width: 70px !important;
  height: 70px !important;
}
[type=image-3-result-1] .modal-body .game-message {
  font-size: 45px !important;
}
[type=image-3-result-2] .modal-body {
  height: 430px;
}
[type=image-3-result-2] .modal-body .meme-image {
  background: url('../images/memes/3-battle-result-2.jpg');
}
[type=image-3-result-2] .modal-body .meme-image .p1 {
  top: 10px;
  right: 100px;
  width: 80px !important;
  height: 80px !important;
}
[type=image-3-result-2] .modal-body .meme-image .p2 {
  top: 5px;
  left: 215px;
  width: 90px !important;
  height: 90px !important;
}
[type=image-3-result-2] .modal-body .game-message {
  font-size: 30px !important;
}
[type=image-4-result-1] .modal-body {
  height: 430px;
}
[type=image-4-result-1] .modal-body .meme-image {
  background: url('../images/memes/4-battle-result-1.jpg');
}
[type=image-4-result-1] .modal-body .meme-image .p1 {
  top: 85px;
  right: 185px;
  width: 70px !important;
  height: 70px !important;
}
[type=image-4-result-1] .modal-body .meme-image .p2 {
  top: 75px;
  left: 225px;
  width: 70px !important;
  height: 70px !important;
}
[type=image-4-result-1] .modal-body .game-message {
  font-size: 50px !important;
}
[type=image-4-result-2] .modal-body {
  height: 450px;
}
[type=image-4-result-2] .modal-body .meme-image {
  background: url('../images/memes/4-battle-result-2.jpg');
}
[type=image-4-result-2] .modal-body .meme-image .p1 {
  top: 50px;
  right: 210px;
  width: 80px !important;
  height: 80px !important;
  z-index: 2;
}
[type=image-4-result-2] .modal-body .meme-image .p2 {
  top: 35px;
  left: 185px;
  width: 80px !important;
  height: 80px !important;
}
[type=image-4-result-2] .modal-body .game-message {
  font-size: 45px !important;
}
[type=image-2-winner-1] .modal-body {
  height: 350px;
}
[type=image-2-winner-1] .modal-body .meme-image {
  background: url('../images/memes/2-battle-winner-1.jpg');
}
[type=image-2-winner-1] .modal-body .meme-image .p1 {
  top: 40px;
  right: 85px;
}
[type=image-2-winner-1] .modal-body .game-message {
  font-size: 35px !important;
}
[type=image-2-winner-2] .modal-body {
  height: 525px;
}
[type=image-2-winner-2] .modal-body .meme-image {
  background: url('../images/memes/2-battle-winner-2.jpg');
}
[type=image-2-winner-2] .modal-body .meme-image .p1 {
  top: 80px;
  left: 200px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-2-winner-2] .modal-body .game-message {
  font-size: 40px !important;
}
[type=image-3-winner-1] .modal-body {
  height: 400px;
}
[type=image-3-winner-1] .modal-body .meme-image {
  background: url('../images/memes/3-battle-winner-1.jpg');
}
[type=image-3-winner-1] .modal-body .meme-image .p1 {
  top: 10px;
  left: 235px;
  width: 90px !important;
  height: 90px !important;
}
[type=image-3-winner-1] .modal-body .game-message {
  font-size: 30px !important;
}
[type=image-3-winner-2] .modal-body {
  height: 525px;
}
[type=image-3-winner-2] .modal-body .meme-image {
  background: url('../images/memes/3-battle-winner-2.jpg');
}
[type=image-3-winner-2] .modal-body .meme-image .p1 {
  top: 190px;
  left: 210px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-4-winner-1] .modal-body {
  height: 300px;
}
[type=image-4-winner-1] .modal-body .meme-image {
  background: url('../images/memes/4-battle-winner-1.jpg');
}
[type=image-4-winner-1] .modal-body .meme-image .p1 {
  top: 10px;
  left: 250px;
}
[type=image-4-winner-1] .modal-body .game-message {
  font-size: 35px !important;
}
[type=image-4-winner-2] .modal-body {
  height: 525px;
}
[type=image-4-winner-2] .modal-body .meme-image {
  background: url('../images/memes/4-battle-winner-2.jpg');
}
[type=image-4-winner-2] .modal-body .meme-image .p1 {
  top: 210px;
  left: 230px;
  width: 140px !important;
  height: 140px !important;
}
[type=image-4-winner-2] .modal-body .game-message {
  font-size: 45px !important;
}
[type=image-2-loser-1] .modal-body {
  height: 300px;
}
[type=image-2-loser-1] .modal-body .meme-image {
  background: url('../images/memes/2-battle-loser-1.jpg');
}
[type=image-2-loser-1] .modal-body .meme-image .p1 {
  right: 120px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-2-loser-2] .modal-body {
  height: 300px;
}
[type=image-2-loser-2] .modal-body .meme-image {
  background: url('../images/memes/2-battle-loser-2.jpg');
}
[type=image-2-loser-2] .modal-body .meme-image .p1 {
  top: 40px;
  left: 245px;
  width: 70px !important;
  height: 70px !important;
}
[type=image-2-loser-2] .modal-body .game-message {
  font-size: 35px !important;
}
[type=image-3-loser-1] .modal-body {
  height: 350px;
}
[type=image-3-loser-1] .modal-body .meme-image {
  background: url('../images/memes/3-battle-loser-1.jpg');
}
[type=image-3-loser-1] .modal-body .meme-image .p1 {
  left: 100px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-loser-1] .modal-body .meme-image .game-message {
  font-size: 35px !important;
}
[type=image-3-loser-2] .modal-body {
  height: 350px;
}
[type=image-3-loser-2] .modal-body .meme-image {
  background: url('../images/memes/3-battle-loser-2.jpg');
}
[type=image-3-loser-2] .modal-body .meme-image .p1 {
  top: 50px;
  left: 210px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-loser-2] .modal-body .game-message {
  font-size: 35px !important;
}
[type=image-4-loser-1] .modal-body {
  height: 270px;
}
[type=image-4-loser-1] .modal-body .meme-image {
  background: url('../images/memes/4-battle-loser-1.jpg');
}
[type=image-4-loser-1] .modal-body .meme-image .p1 {
  left: 200px;
  top: 30px;
  width: 200px !important;
  height: 200px !important;
}
[type=image-4-loser-2] .modal-body {
  height: 300px;
}
[type=image-4-loser-2] .modal-body .meme-image {
  background: url('../images/memes/4-battle-loser-2.jpg');
}
[type=image-4-loser-2] .modal-body .meme-image .p1 {
  top: 10px;
  left: 60px;
  width: 200px !important;
  height: 200px !important;
}
[type=image-4-loser-2] .modal-body .game-message {
  font-size: 35px !important;
}
[type=image-2-battle-1] .modal-body {
  height: 325px;
}
[type=image-2-battle-1] .modal-body .meme-image {
  background: url('../images/memes/2-battle-1.jpg');
}
[type=image-2-battle-1] .modal-body .meme-image .p1 {
  left: 75px;
  width: 90px !important;
  height: 90px !important;
}
[type=image-2-battle-1] .modal-body .meme-image .p2 {
  right: 65px;
  width: 90px !important;
  height: 90px !important;
}
[type=image-2-battle-1] .modal-body .meme-image .game-message {
  font-size: 30px !important;
}
[type=image-2-battle-2] .modal-body {
  height: 300px;
}
[type=image-2-battle-2] .modal-body .meme-image {
  background: url('../images/memes/2-battle-2.jpg');
}
[type=image-2-battle-2] .modal-body .meme-image .p1 {
  top: 5px;
  left: 110px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-2-battle-2] .modal-body .meme-image .p2 {
  top: 5px;
  right: 110px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-2-battle-2] .modal-body .meme-image .game-message {
  font-size: 30px !important;
}
[type=image-3-battle-1] .modal-body {
  height: 260px;
}
[type=image-3-battle-1] .modal-body .meme-image {
  background: url('../images/memes/3-battle-1.jpg');
}
[type=image-3-battle-1] .modal-body .meme-image .p1 {
  left: 35px;
  top: 5px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-1] .modal-body .meme-image .p2 {
  right: 175px;
  top: 5px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-1] .modal-body .meme-image .p3 {
  right: 5px;
  top: 5px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-1] .modal-body .meme-image .game-message {
  font-size: 30px !important;
}
[type=image-3-battle-2] .modal-body {
  height: 260px;
}
[type=image-3-battle-2] .modal-body .meme-image {
  background: url('../images/memes/3-battle-2.jpg');
}
[type=image-3-battle-2] .modal-body .meme-image .p1 {
  top: 5px;
  left: 80px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-2] .modal-body .meme-image .p2 {
  top: 5px;
  left: 210px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-2] .modal-body .meme-image .p3 {
  top: 5px;
  right: 60px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-3-battle-2] .modal-body .meme-image .game-message {
  font-size: 30px !important;
}
[type=image-4-battle-1] .modal-body {
  height: 310px;
}
[type=image-4-battle-1] .modal-body .meme-image {
  background: url('../images/memes/4-battle-1.jpg');
}
[type=image-4-battle-1] .modal-body .meme-image .p1 {
  left: 5px;
  top: 35px;
  width: 140px !important;
  height: 140px !important;
}
[type=image-4-battle-1] .modal-body .meme-image .p2 {
  left: 135px;
  top: 25px;
  width: 140px !important;
  height: 140px !important;
}
[type=image-4-battle-1] .modal-body .meme-image .p3 {
  right: 145px;
  top: 25px;
  width: 140px !important;
  height: 140px !important;
  z-index: 2;
}
[type=image-4-battle-1] .modal-body .meme-image .p4 {
  right: 5px;
  top: 25px;
  width: 140px !important;
  height: 140px !important;
}
[type=image-4-battle-2] .modal-body {
  height: 310px;
}
[type=image-4-battle-2] .modal-body .meme-image {
  background: url('../images/memes/4-battle-2.jpg');
}
[type=image-4-battle-2] .modal-body .meme-image .p1 {
  top: 35px;
  left: 50px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-4-battle-2] .modal-body .meme-image .p2 {
  top: 45px;
  left: 150px;
  width: 120px !important;
  height: 120px !important;
  z-index: 2;
}
[type=image-4-battle-2] .modal-body .meme-image .p3 {
  top: 10px;
  right: 150px;
  width: 120px !important;
  height: 120px !important;
}
[type=image-4-battle-2] .modal-body .meme-image .p4 {
  right: 25px;
  top: 5px;
  width: 120px !important;
  height: 120px !important;
}
@media screen and (max-width: 630px) {
  .main-content > .content {
    width: 600px;
  }
}
@media screen and (max-width: 630px) {
  #game-title {
    height: 525px;
  }
  .game-mode-box {
    margin-bottom: 15px;
  }
  .game-mode-box input[type=text] {
    font-size: 20px;
    width: 350px;
    background-size: 32px;
  }
  .game-mode-box .create-game-box .continue-button {
    width: 100px;
  }
  .game-mode-box .continue-button {
    font-size: 30px;
  }
  .game-mode-box table {
    width: 85%;
  }
  .game-mode-box table tr {
    font-size: 25px !important;
  }
  .continue-button {
    margin: 25px 0;
    font-size: 50px;
  }
  .player-message {
    top: 30px;
  }
  #game-select .continue-button {
    height: 80px;
  }
  .section-title {
    font-size: 60px !important;
  }
  .continue-button .box.half-box {
    font-size: 40px;
  }
  #game-box .box.half-box:last-child {
    display: none;
  }
  #game-box .box.half-box:first-child {
    width: inherit;
  }
  #game-box .box.half-box:first-child .dice-box {
    display: block;
    margin-bottom: 10px;
  }
  #game-box .box.half-box:first-child .dice-box .dice-show {
    margin: 0 auto;
  }
  .mini-score-box {
    display: block;
    margin-top: 25px;
  }
  .mini-score-box .mini-score-board {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 5px 10px;
    width: 245px;
    margin: 25px 0;
    font-size: 15px;
    color: #ffffff;
  }
  .mini-score-box .mini-score-board:nth-child(odd) {
    margin-left: 15px;
    margin-right: 5px;
    text-align: right;
  }
  .mini-score-box .mini-score-board:nth-child(odd) .game-player {
    left: 5px;
  }
  .mini-score-box .mini-score-board:nth-child(odd) .player-message {
    left: 70px;
  }
  .mini-score-box .mini-score-board:nth-child(even) {
    margin-right: 15px;
    margin-left: 5px;
    text-align: left;
  }
  .mini-score-box .mini-score-board:nth-child(even) .game-player {
    right: 5px;
  }
  .mini-score-box .mini-score-board:nth-child(even) .player-message {
    right: 70px;
  }
  .mini-score-box .mini-score-board .game-player {
    width: 60px;
    height: 60px;
    top: -20px;
  }
  .mini-score-box .mini-score-board .game-player .player-avatar {
    background-position-y: 60% !important;
  }
}
