/*
@bg-color-high-int : rgba(173,50,35,0.1);
@bg-color-med-int : rgba(243,117,32,0.1);
@bg-color-low-int : rgba(216,145,21,0.1);
@bg-color-lil-int : rgba(80,183,72,0.1);
@bg-color-gen-int : rgba(0,154,236,0.1);
@bg-color-no-int : rgba(141,141,141,0.1);
*/
@-ms-viewport {
  width: auto;
}
body {
  color: #666666;
  min-height: 300px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 400;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
h5,
h6 {
  font-size: 10px;
}
h6 {
  font-style: italic;
}
h2,
h3,
h4 {
  color: #1a1a1a;
  font-weight: 400;
}
a,
a:visited {
  text-decoration: none;
  color: #00adef;
}
img {
  max-width: 100%;
}
.text-caps {
  text-transform: uppercase;
}
.text-title {
  text-transform: capitalize;
}
.text-sentence::first-letter {
  text-transform: uppercase;
}
.text-light {
  color: #8c8c8c;
}
.text-lighter {
  color: #b3b3b3;
}
.text-dark {
  color: #404040;
}
.text-darker {
  color: #1a1a1a;
}
.text-blue {
  color: #00adef;
}
.text-high-int {
  color: #ad3223;
}
.text-med-int {
  color: #f37520;
}
.text-low-int {
  color: #d89115;
}
.text-lil-int {
  color: #71bf00;
}
.text-no-int {
  color: #8d8d8d;
}
.text-white {
  color: #ffffff;
}
.text-err {
  color: #ff5a00;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.display-inline {
  display: inline-block;
}
.display-block {
  display: block;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-xsmall {
  font-size: 10px;
}
.text-small {
  font-size: 12px;
}
.text-base {
  font-size: 14px;
}
.text-medium {
  font-size: 16px;
}
.text-large {
  font-size: 18px;
}
.text-xlarge {
  font-size: 21px;
}
/*
.nowrap{
  .ellipsis()
}
*/
.hide {
  display: none;
}
.row {
  margin-top: 10px;
}
.err-txt {
  color: #ff5a00;
  font-size: 12px;
  white-space: nowrap;
}
.err-brdr {
  border: 1px solid #ff5a00 !important;
}
/*
.brdr-base{
  .border-base();
}
*/
.srch-rslt-brdr {
  border: 1px solid #00adef !important;
}
.brdr-bottom-base {
  border-bottom: 1px #dddddd solid;
}
.description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.description.jstfy {
  text-align: justify;
}
.description.lft {
  text-align: left;
}
.description a {
  margin: 0 5px;
}
.block-center {
  margin: 0px auto;
}
/*class to group a set of elements*/
.content-block {
  margin-top: 25px;
  margin-bottom: 25px;
}
.content-block.bordered {
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
  padding: 10px 0;
}
.main-content {
  min-height: 600px;
}
.main-content > .content {
  width: 1200px;
  margin: 0px auto;
}
@media screen and (max-width: 625px) {
  .main-content > .content {
    width: 600px;
  }
}
.bkgrnd-high-int {
  background-color: #ad3223;
}
.bkgrnd-med-int {
  background-color: #f37520;
}
.bkgrnd-low-int {
  background-color: #d89115;
}
.bkgrnd-lil-int {
  background-color: #71bf00;
}
.bkground-light {
  background-color: #fafafa;
}
.bkground-lighter {
  background-color: #fcfcfc;
}
.bkground-dark {
  background-color: #c7c7c7;
}
.bkground-darker {
  background-color: #949494;
}
.bkground-white {
  background-color: #ffffff;
}
/*
.bkgrnd-gen-int{
  background-color: @bg-color-gen-int;
}
.bkgrnd-no-int{
  background-color: @bg-color-no-int;
}*/
ol {
  font-size: 12px;
  counter-reset: item;
  padding-left: 10px;
  font-weight: bold;
}
ol > li {
  display: block;
  margin: 5px 0;
}
ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
ol.sub-norm {
  font-weight: normal;
}
ul {
  font-weight: normal;
}
ul.feature {
  padding-left: 20px;
}
ul.alpha {
  list-style-type: lower-alpha;
}
ul.roman {
  list-style-type: lower-roman;
}
.pad0 {
  padding: 0;
}
.text-color-p1 {
  color: #ff0000 !important;
}
.text-color-p2 {
  color: #0000ff !important;
}
.text-color-p3 {
  color: #00ff00 !important;
}
.text-color-p4 {
  color: #ffdd00 !important;
}
.game-title {
  background: #52c9f4;
  padding: 15px;
}
.game-title .image-box {
  margin: 25px 0;
  background: url('../images/banners/snakes-and-ladders-banner.png') no-repeat center;
  background-size: contain;
  height: 400px;
}
.game-select {
  background: #52c9f4;
  padding: 15px;
  text-align: center;
}
.game-select .select-title {
  margin: 25px 0;
  font-size: 50px;
}
.game-select .select-box {
  display: inline-block;
  height: 270px;
  width: 250px;
  cursor: pointer;
}
.game-select .select-box:hover .game-player .player-avatar {
  background-position-x: 100% !important;
}
.game-select .select-box:hover .game-player .player-name {
  color: #ffff00;
}
.game-select .select-box.selected .player-avatar {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.game-select .select-box .game-player {
  margin: 20px auto;
  position: static;
  width: 200px;
  height: 200px;
  border: 6px solid;
}
.game-select .select-box .game-player .player-avatar {
  background-position-y: -41px !important;
}
.game-select .select-box .game-player .player-name {
  color: #fff;
  margin: 15px 0;
  font-size: 20px;
}
.continue-button {
  text-align: center;
  color: #fafafa;
  margin: 40px 0;
  font-size: 50px;
  cursor: pointer;
}
.continue-button:hover {
  color: #ffff00;
}
.game-box {
  width: 100%;
  font-size: 0;
}
.game-box .box {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.game-box .box.half-box {
  width: 50%;
}
.game-player {
  position: absolute;
  border-radius: 50%;
  border: 3px solid;
}
.game-player.p-1 {
  color: #ff0000;
}
.game-player.p-1 .player-avatar {
  background: url('../images/avatars/avatar-1.png') no-repeat;
}
.game-player.p-2 {
  color: #0000ff;
}
.game-player.p-2 .player-avatar {
  background: url('../images/avatars/avatar-2.png') no-repeat;
}
.game-player.p-3 {
  color: #00ff00;
}
.game-player.p-3 .player-avatar {
  background: url('../images/avatars/avatar-3.png') no-repeat;
}
.game-player.p-4 {
  color: #ffdd00;
}
.game-player.p-4 .player-avatar {
  background: url('../images/avatars/avatar-4.png') no-repeat;
}
.score-board {
  padding: 15px;
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 30px;
  font-style: italic;
  margin: 25px 0;
}
.score-board.p-1 {
  background: #ff0000;
}
.score-board.p-2 {
  background: #0000ff;
}
.score-board.p-3 {
  background: #00ff00;
}
.score-board.p-4 {
  background: #ffdd00;
}
.score-board .game-player {
  width: 150px;
  height: 150px;
  border: 6px solid;
}
.score-board .game-player.p-1,
.score-board .game-player.p-2,
.score-board .game-player.p-3,
.score-board .game-player.p-4 {
  top: -55px;
}
.score-board .game-player .player-avatar {
  background-position-y: -41px !important;
}
.dice-box {
  height: 200px;
}
.score-box {
  margin-top: 15px;
  height: 175px;
}
.score-box:nth-child(2) .score-board {
  text-align: right;
}
.score-box:nth-child(2) .score-board .game-player {
  left: 5px;
}
.score-box:last-child .score-board {
  text-align: left;
}
.score-box:last-child .score-board .game-player {
  right: 5px;
}
.game-board {
  position: relative;
}
.game-board .game-player {
  width: 40px;
  height: 40px;
}
.game-board .game-player.p-1 {
  bottom: 25px;
  left: 20px;
}
.game-board .game-player.p-2 {
  bottom: 25px;
  left: 40px;
}
.game-board .game-player.p-3 {
  bottom: 45px;
  left: 20px;
}
.game-board .game-player.p-4 {
  bottom: 45px;
  left: 40px;
}
.game-board .game-player .player-avatar {
  background-position-y: -11px !important;
}
.player-avatar {
  height: inherit;
  background-size: 400% !important;
  border-radius: 50%;
}
.player-avatar.normal {
  background-position-x: 0% !important;
}
.player-avatar.sad {
  background-position-x: 33% !important;
}
.player-avatar.angry {
  background-position-x: 67% !important;
}
.player-avatar.happy {
  background-position-x: 100% !important;
}
.mini-score-box {
  display: none;
}
@media screen and (max-width: 625px) {
  .image-box {
    margin: 0;
  }
  .continue-button {
    margin-bottom: 25px;
    font-size: 30px;
  }
  .box.half-box:last-child {
    display: none;
  }
  .box.half-box:first-child {
    width: 100%;
  }
  .mini-score-box {
    display: block;
    margin-top: 25px;
  }
  .mini-score-box .mini-score-board {
    display: inline-block;
    position: relative;
    font-style: italic;
    padding: 5px 10px;
    width: 260px;
    margin: 25px 0;
    font-size: 15px;
    color: #ffffff;
  }
  .mini-score-box .mini-score-board:first-child {
    margin-left: 15px;
    margin-right: 5px;
    text-align: right;
  }
  .mini-score-box .mini-score-board:first-child .game-player {
    left: 5px;
  }
  .mini-score-box .mini-score-board:last-child {
    margin-right: 15px;
    margin-left: 5px;
    text-align: left;
  }
  .mini-score-box .mini-score-board:last-child .game-player {
    right: 5px;
  }
  .mini-score-box .mini-score-board.p-1 {
    background: #ff0000;
  }
  .mini-score-box .mini-score-board.p-2 {
    background: #0000ff;
  }
  .mini-score-box .mini-score-board.p-3 {
    background: #00ff00;
  }
  .mini-score-box .mini-score-board.p-4 {
    background: #ffdd00;
  }
  .mini-score-box .mini-score-board .game-player {
    width: 60px;
    height: 60px;
  }
  .mini-score-box .mini-score-board .game-player.p-1,
  .mini-score-box .mini-score-board .game-player.p-2,
  .mini-score-box .mini-score-board .game-player.p-3,
  .mini-score-box .mini-score-board .game-player.p-4 {
    top: -20px;
  }
  .mini-score-box .mini-score-board .game-player .player-avatar {
    background-position-y: -16px !important;
  }
}
#memeModal {
  background: #52c9f4;
}
#memeModal .modal-body {
  padding: 10px;
}
#memeModal .meme-image {
  position: relative;
  height: inherit;
  background-size: cover;
}
#memeModal .meme-image .game-player {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid;
}
#memeModal .meme-image .game-player .player-avatar {
  height: 100px;
  background-position-y: -31px !important;
}
.image-result-1 .modal-body {
  height: 430px;
}
.image-result-1 .modal-body .meme-image {
  background: url('../images/memes/meme-result-1.jpg');
}
.image-result-1 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-result-1 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-result-2 .modal-body {
  height: 430px;
}
.image-result-2 .modal-body .meme-image {
  background: url('../images/memes/meme-result-2.jpg');
}
.image-result-2 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-result-2 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-winner-1 .modal-body {
  height: 430px;
}
.image-winner-1 .modal-body .meme-image {
  background: url('../images/memes/meme-winner-1.jpg');
}
.image-winner-1 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-winner-1 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-winner-2 .modal-body {
  height: 430px;
}
.image-winner-2 .modal-body .meme-image {
  background: url('../images/memes/meme-winner-2.jpg');
}
.image-winner-2 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-winner-2 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-loser-1 .modal-body {
  height: 430px;
}
.image-loser-1 .modal-body .meme-image {
  background: url('../images/memes/meme-loser-1.jpg');
}
.image-loser-1 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-loser-1 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-loser-2 .modal-body {
  height: 430px;
}
.image-loser-2 .modal-body .meme-image {
  background: url('../images/memes/meme-loser-2.jpg');
}
.image-loser-2 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-loser-2 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-battle-1 .modal-body {
  height: 430px;
}
.image-battle-1 .modal-body .meme-image {
  background: url('../images/memes/meme-battle-1.jpg');
}
.image-battle-1 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-battle-1 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
.image-battle-2 .modal-body {
  height: 430px;
}
.image-battle-2 .modal-body .meme-image {
  background: url('../images/memes/meme-battle-2.jpg');
}
.image-battle-2 .modal-body .meme-image .winner {
  top: 75px;
  left: 185px;
}
.image-battle-2 .modal-body .meme-image .loser {
  bottom: 130px;
  right: 15px;
}
