@-ms-viewport{
  width : auto;
}
body{
	color : @text-color-base;
  min-height : 300px;
  font: 14px Impact;
}

h1 {
	font-size: @font-size-xlarge;
  margin-bottom : @margin-base;
  font-weight : 400;
}
h2 {
	font-size: @font-size-large;
}
h3 {
	font-size: @font-size-base;
}
h4 {
	font-size: @font-size-small;
}
h5, h6 {
	font-size: @font-size-xsmall;
}
h6 {
	font-style : italic;
}

h2,h3, h4 {
  color : @text-color-darker;
  font-weight : 400;
}

a,a:visited{
  text-decoration: none;
  color:@text-color-special;
}
p{

}

img{
  max-width:100%
}
//Case
.text-caps {
	text-transform : @text-case-upper
}
.text-title {
	text-transform : @text-case-capitalize
}
.text-sentence::first-letter {
	text-transform : @text-case-upper
}

//Text color
.text-light {
	color : @text-color-light;
}
.text-lighter {
	color : @text-color-lighter;
}
.text-dark {
	color : @text-color-dark;
}
.text-darker {
	color : @text-color-darker;
}
.text-blue/*, .text-gen-int*/{
  color: @text-color-special;
}
.text-high-int{
  color: @text-color-high-int;
}
.text-med-int{
  color: @text-color-med-int;
}
.text-low-int{
  color: @text-color-low-int;
}
.text-lil-int{
  color: @text-color-lil-int;
}
.text-no-int{
  color: @text-color-no-int;
}
.text-white{
  color: @text-color-white;
}
.text-err{
  color: @text-color-error;
}

//Text alignment
.text-center{
  text-align : center;
}
.text-left{
  text-align : left;
}
.text-right{
  text-align : right;
}

// display property
.display-inline {
  display:inline-block;
}

.display-block {
  display: block;
}


//text weight
.text-bold{
  font-weight: bold;
}
.text-normal{
  font-weight: normal;
}

//font size
.text-xsmall{
  font-size:@font-size-xsmall
}
.text-small{
  font-size:@font-size-small
}
.text-base{
  font-size:@font-size-base
}
.text-medium{
  font-size:@font-size-medium
}
.text-large{
  font-size:@font-size-large
}
.text-xlarge{
  font-size:@font-size-xlarge
}

/*
.nowrap{
  .ellipsis()
}
*/

.hide {
  display : none;
}

.row{
  margin-top: @margin-medium;
  @margin-bottom:@margin-medium;
}

.err-txt {
  color: @text-color-error;
  font-size: @font-size-small;
  white-space: nowrap;
}

.err-brdr {
  border: @border-width-base @border-style-base @border-color-error !important;
}

/*
.brdr-base{
  .border-base();
}
*/

.srch-rslt-brdr{
  border: @border-width-base @border-style-base @border-color-base !important;
}

.brdr-bottom-base{
  border-bottom : @border-width-base @border-color-light @border-style-base;
}

.description{
  text-align:@text-center;
  margin-top: @margin-medium;
  margin-bottom:  @margin-medium;
  line-height: @line-height-small;
  &.jstfy{
    text-align: @text-justify;
  }
  &.lft{
    text-align: @text-left;
  }
  a{
    margin: 0 @margin-base;
  }
}

.block-center{
  margin: 0px auto;
}

/*class to group a set of elements*/
.content-block{
  margin-top: @margin-xxlarge;
  margin-bottom: @margin-xxlarge;
  &.bordered{
    border-top: @border-width-base @border-color-light @border-style-base;
    border-bottom: @border-width-base @border-color-light @border-style-base;
    padding: @padding-medium 0;
  }
}


.main-content{
  min-height: 600px;
  > .content{
    width: @max-width;
    margin : 0px auto;
  }
}


@media screen and (max-width: 625px){
  .main-content > .content{
      width: @min-width;
  }
}


//background color
.bkgrnd-high-int{
  background-color: @bg-color-high-int;
}
.bkgrnd-med-int{
  background-color: @bg-color-med-int;
}
.bkgrnd-low-int{
  background-color: @bg-color-low-int;
}
.bkgrnd-lil-int{
  background-color: @bg-color-lil-int;
}
.bkground-light{
  background-color: @bg-color-light;
}
.bkground-lighter{
  background-color: @bg-color-lighter;
}
.bkground-dark{
  background-color: @bg-color-dark;
}
.bkground-darker{
  background-color: @bg-color-darker;
}
.bkground-white{
  background-color: @bg-color-white;
}
/*
.bkgrnd-gen-int{
  background-color: @bg-color-gen-int;
}
.bkgrnd-no-int{
  background-color: @bg-color-no-int;
}*/

//Nested Ordered List Style
ol {
  font-size: @font-size-small;
  counter-reset: item;
  padding-left: @padding-medium;
  font-weight: @font-bold;
  > li{
    display: block;
    margin: @margin-base 0;
    &:before{
      content: counters(item, ".") " ";
      counter-increment: item;
    }
  }
  &.sub-norm{
    font-weight: @font-normal;
  }
}
//Unordered List Style
ul{
  font-weight: @font-normal;
  &.feature{
   padding-left: @padding-xlarge;
  }
  &.alpha{
    list-style-type:lower-alpha;
  }
  &.roman{
    list-style-type:lower-roman;
  }
}

//Padding Rules
.pad0{
  padding: 0;
}


.text-color-p1{
  color: @p-1color !important;
}

.text-color-p2{
  color: @p-2color !important;
}

.text-color-p3{
  color: @p-3color !important;
}

.text-color-p4{
  color: @p-4color !important;
}

.meme-font{
  .text-white;
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}