.game-box{
  width: 100%;
  font-size: 0;
  .box{
    .text-base;
    .display-inline;
    &.box-50{
      width: 50%;
    }
  }
}

.game-board{
  position: relative;
  .game-player{
    position: absolute;
    border: 3px solid #ffffff;
    top: 0;
    left: 0;
  }
}