.game-title{
  border-radius: 25px;
  background: @bg-color-base-dark;
  padding: @padding-large;
  .image-box{
    background: url('../images/banners/snakes-and-ladders-banner.png') no-repeat center;
    background-size: contain;
    height: 400px;
  }
}

.game-select{
  border-radius: 25px;
  background: @bg-color-base-dark;
  padding: @padding-large;
  .text-center;
  .select-title{
    margin: @margin-xxlarge 0;
    font-size: 75px;
  }
  .select-box{
    .display-inline;
    height: 320px;
    width: 250px;
    cursor: pointer;
    &:hover{
      .game-player{
        .player-avatar{
          background-position-x: 100% !important;
        }
        .player-name{
          color: #ffff00;
        }
      }
    }
    &.selected{
      .player-avatar{
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      }
    }
    .game-player{
      margin: 20px auto;
      position: static;
      width: 200px;
      height: 200px;
      border: 6px solid;
      .player-avatar{
        background-position-y: -41px !important;
      }
      .player-name{
        color: #fff;
        margin: @margin-large 0;
        font-size: 30px;
      }
    }
  }
}

.continue-button{
  .text-center;
  color: #fafafa;
  margin-bottom: @margin-xlarge*2;
  font-size: 75px;
  cursor: pointer;
  &:hover{
    color: #ffff00;
  }
}

.game-box{
  width: 100%;
  font-size: 0;
  .box{
    .text-base;
    .display-inline;
    vertical-align: top;
    &.half-box{
      width: 50%;
    }
    &:first-child{
      .dice-box{
        display: none;
      }
    }
  }
}

.player-message{
  position: absolute;
  top: 75px;
}

.game-player{
  position: absolute;
  border-radius: 50%;
  border: 3px solid;
  &[type=p-1]{
     color: @p-1color;
    .player-avatar{
      background: url('../images/avatars/avatar-1.png') no-repeat;
    }
  }
  &[type=p-2]{
    color: @p-2color;
    .player-avatar{
      background: url('../images/avatars/avatar-2.png') no-repeat;
    }
  }
  &[type=p-3]{
    color: @p-3color;
    .player-avatar{
      background: url('../images/avatars/avatar-3.png') no-repeat;
    }
  }
  &[type=p-4]{
    color: @p-4color;
    .player-avatar{
      background: url('../images/avatars/avatar-4.png') no-repeat;
    }
  }
  &[type=p-5]{
    color: @p-5color;
    .player-avatar{
      background: url('../images/avatars/avatar-5.png') no-repeat;
    }
  }

  &[type=p-6]{
    color: @p-6color;
    .player-avatar{
      background: url('../images/avatars/avatar-6.png') no-repeat;
    }
  }
}

.score-board{
  padding: @padding-large;
  width: 100%;
  position: relative;
  color: #fff;
  border-radius: 10px;
  font-size: 30px;
  font-style: italic;
  margin: @margin-xxlarge 0;
  &[type=p-1]{
    background: @p-1color;
  }
  &[type=p-2]{
    background: @p-2color;
  }
  &[type=p-3]{
    background: @p-3color;
  }
  &[type=p-4]{
    background: @p-4color;
  }
  &[type=p-5]{
    background: @p-5color;
  }
  &[type=p-6]{
    background: @p-6color;
  }
  .game-player{
    width: 150px;
    height: 150px;
    border: 6px solid;
    &[type=p-1], &[type=p-2], &[type=p-3], &[type=p-4], &[type=p-5], &[type=p-6]{
      top: -55px;
    }
    .player-avatar{
      background-position-y: -41px !important;
    }
  }
}

.dice-box{
  height: 200px;
  .dice-show{
    margin: 0px auto;
    border: 2px solid;
    border-radius: 5px;
    width: 150px;
    min-height: 105px;
    &.animate{
      background: url('../images/gifs/rolling-dice.gif') no-repeat center;
      background-size: contain;
    }
    .message{
      .text-white;
      .text-center;
      font-size: 60px;
      padding: 15px;
      &[type=p-1]{
        background: @p-1color;
      }
      &[type=p-2]{
        background: @p-2color;
      }
      &[type=p-3]{
        background: @p-3color;
      }
      &[type=p-4]{
        background: @p-4color;
      }
      &[type=p-5]{
        background: @p-5color;
      }
      &[type=p-6]{
        background: @p-6color;
      }
    }
  }
  .dice-button{
    padding: @padding-medium @padding-large;
    .text-white;
    .bkground-dark;
    font-size: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    width: 120px;
    text-align: center;
  }
}
.score-box{
  margin-top: @margin-large;
  height: 175px;
  &:nth-child(2){
    .score-board{
      .text-right;
      .game-player{
        left: 5px;
      }
      .player-message{
        left: 155px;
      }
    }
  }
  &:last-child{
    .score-board{
      .text-left;
      .game-player{
        right: 5px;
      }
      .player-message{
        right: 155px;
      }
    }
  }
}

.game-board{
  position: relative;
  .game-player{
    width: 40px;
    height: 40px;
    &[type=p-1]{
      bottom: 25px;
      left: 20px;
    }
    &[type=p-2]{
      bottom: 25px;
      left: 40px;
    }
    &[type=p-3]{
      bottom: 45px;
      left: 20px;
    }
    &[type=p-4]{
      bottom: 45px;
      left: 40px;
    }
    &[type=p-5]{
      bottom: 25px;
      left: 30px;
    }
    &[type=p-6]{
      bottom: 45px;
      left: 30px;
    }
    .player-avatar{
      background-position-y: -11px !important;
    }
  }
}

.player-avatar{
  height: inherit;
  background-size: 400% !important;
  border-radius: 50%;
  &[type=normal]{
    background-position-x: 0% !important;
  }
  &[type=sad]{
    background-position-x: 33% !important;
  }
  &[type=angry]{
    background-position-x: 67% !important;
  }
  &[type=happy]{
    background-position-x: 100% !important;
  }
}

.mini-score-box{
   display: none;
}

@media screen and (max-width: @min-screen-width){
  .continue-button{
    margin-bottom: @margin-xxlarge;
    font-size: 50px;
  }
  .player-message{
    top: 30px;
  }
  .select-title{
    font-size: 60px !important;
  }
  .box.half-box:last-child{
    display: none;
  }
  .box.half-box:first-child{
    width: 100%;
    .dice-box{
      .display-block;
      height: 130px;
      .dice-show{
        width: 100px;
        min-height: 65px;
      }
      .message{
        font-size: 40px;
        padding: @padding-medium;
      }
      .dice-button{
        font-size: 20px;
        width: 75px;
      }
    }
  }
  .mini-score-box{
    .display-block;
    margin-top: @margin-xxlarge;
    .mini-score-board{
      .display-inline;
      border-radius: 10px;
      position: relative;
      font-style: italic;
      padding: @padding-base @padding-medium;
      width: 260px;
      margin: @margin-xxlarge 0;
      font-size: 15px;
      .text-white;
      &:first-child{
        margin-left: @margin-large;
        margin-right: @margin-base;
        .text-right;
        .game-player{
          left: 5px;
        }
        .player-message{
          left: 70px;
        }
      }
      &:last-child{
        margin-right: @margin-large;
        margin-left: @margin-base;
        .text-left;
        .game-player{
          right: 5px;
        }
        .player-message{
          right: 70px;
        }
      }
      &[type=p-1]{
        background: @p-1color;
      }
      &[type=p-2]{
        background: @p-2color;
      }
      &[type=p-3]{
        background: @p-3color;
      }
      &[type=p-4]{
        background: @p-4color;
      }
      &[type=p-5]{
        background: @p-5color;
      }
      &[type=p-6]{
        background: @p-6color;
      }
      .game-player{
        width: 60px;
        height: 60px;
        &[type=p-1], &[type=p-2], &[type=p-3], &[type=p-4], &[type=p-5], &[type=p-6]{
          top: -20px;
        }
        .player-avatar{
          background-position-y: -16px !important;
        }
      }
    }
  }
}