#memeModal {
  background: @bg-color-base-dark;
  .modal-body {
    padding: @padding-medium;
  }
  .meme-image {
    position: relative;
    height: inherit;
    background-size: cover;
    border-radius: 10px;
    .game-player {
      position: absolute;
      width: 100px;
      height: 100px;
      border: 5px solid;
      .player-avatar {
        background-position-y: 60% !important;
      }
    }
    .game-message {
      .text-center;
      width: 100%;
      font-size: 40px;
      position: absolute;
      .meme-font;
      bottom: 10px;
    }
  }
}

[type=image-2-result-1] {
  .modal-body {
    height: 430px;
    .meme-image {
      background: url('../images/memes/2-battle-result-1.jpg');
      .p1 {
        top: 50px;
        left: 185px;
        width: 130px !important;
        height: 130px !important;
      }
      .p2 {
        bottom: 100px;
        right: 5px;
        width: 130px !important;
        height: 130px !important;
      }
    }
    .game-message {
      font-size: 45px !important;
    }
  }
}

[type=image-2-result-2] {
  .modal-body {
    height: 430px;
    .meme-image {
      background: url('../images/memes/2-battle-result-2.jpg');
      .p1 {
        top: 125px;
        right: 85px;
      }
      .p2 {
        top: 5px;
        left: 215px;
        width: 90px !important;
        height: 90px !important;
      }
    }
    .game-message {
      font-size: 50px !important;
    }
  }
}

[type=image-3-result-1] {
  .modal-body {
    height: 430px;
    .meme-image {
      background: url('../images/memes/3-battle-result-1.jpg');
      .p1 {
        top: 65px;
        right: 35px;
        width: 110px !important;
        height: 110px !important;
      }
      .p2 {
        top: 55px;
        left: 115px;
        width: 70px !important;
        height: 70px !important;
      }
    }
    .game-message {
      font-size: 45px !important;
    }
  }
}

[type=image-3-result-2] {
  .modal-body {
    height: 430px;
    .meme-image {
      background: url('../images/memes/3-battle-result-2.jpg');
      .p1 {
        top: 10px;
        right: 100px;
        width: 80px !important;
        height: 80px !important;
      }
      .p2 {
        top: 5px;
        left: 215px;
        width: 90px !important;
        height: 90px !important;
      }
    }
    .game-message {
      font-size: 50px !important;
    }
  }
}

[type=image-4-result-1] {
  .modal-body {
    height: 430px;
    .meme-image {
      background: url('../images/memes/4-battle-result-1.jpg');
      .p1 {
        top: 85px;
        right: 185px;
        width: 70px !important;
        height: 70px !important;
      }
      .p2 {
        top: 75px;
        left: 225px;
        width: 70px !important;
        height: 70px !important;
      }
    }
    .game-message {
      font-size: 45px !important;
    }
  }
}

[type=image-4-result-2] {
  .modal-body {
    height: 450px;
    .meme-image {
      background: url('../images/memes/4-battle-result-2.jpg');
      .p1 {
        top: 50px;
        right: 210px;
        width: 80px !important;
        height: 80px !important;
        z-index: 2;
      }
      .p2 {
        top: 35px;
        left: 185px;
        width: 80px !important;
        height: 80px !important;
      }
    }
    .game-message {
      font-size: 50px !important;
    }
  }
}

[type=image-2-winner-1] {
  .modal-body {
    height: 350px;
    .meme-image {
      background: url('../images/memes/2-battle-winner-1.jpg');
      .p1 {
        top: 40px;
        right: 85px;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-2-winner-2] {
  .modal-body {
    height: 525px;
    .meme-image {
      background: url('../images/memes/2-battle-winner-2.jpg');
      .p1 {
        top: 80px;
        left: 200px;
        width: 120px !important;
        height: 120px !important;
      }
    }
    .game-message {
      font-size: 30px !important;
    }
  }
}

[type=image-3-winner-1] {
  .modal-body {
    height: 400px;
    .meme-image {
      background: url('../images/memes/3-battle-winner-1.jpg');
      .p1 {
        top: 10px;
        left: 235px;
        width: 90px !important;
        height: 90px !important;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-3-winner-2] {
  .modal-body {
    height: 525px;
    .meme-image {
      background: url('../images/memes/3-battle-winner-2.jpg');
      .p1 {
        top: 190px;
        left: 210px;
        width: 120px !important;
        height: 120px !important;
      }
    }
    .game-message {
      font-size: 30px !important;
    }
  }
}

[type=image-4-winner-1] {
  .modal-body {
    height: 300px;
    .meme-image {
      background: url('../images/memes/4-battle-winner-1.jpg');
      .p1 {
        top: 10px;
        left: 250px;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-4-winner-2] {
  .modal-body {
    height: 525px;
    .meme-image {
      background: url('../images/memes/4-battle-winner-2.jpg');
      .p1 {
        top: 210px;
        left: 230px;
        width: 140px !important;
        height: 140px !important;
      }
    }
    .game-message {
      font-size: 30px !important;
    }
  }
}

[type=image-2-loser-1] {
  .modal-body {
    height: 300px;
    .meme-image {
      background: url('../images/memes/2-battle-loser-1.jpg');
      .p1 {
        right: 120px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

[type=image-2-loser-2] {
  .modal-body {
    height: 300px;
    .meme-image {
      background: url('../images/memes/2-battle-loser-2.jpg');
      .p1 {
        top: 40px;
        left: 245px;
        width: 70px !important;
        height: 70px !important;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-3-loser-1] {
  .modal-body {
    height: 350px;
    .meme-image {
      background: url('../images/memes/3-battle-loser-1.jpg');
      .p1 {
        left: 100px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

[type=image-3-loser-2] {
  .modal-body {
    height: 350px;
    .meme-image {
      background: url('../images/memes/3-battle-loser-2.jpg');
      .p1 {
        top: 50px;
        left: 210px;
        width: 120px !important;
        height: 120px !important;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-4-loser-1] {
  .modal-body {
    height: 270px;
    .meme-image {
      background: url('../images/memes/4-battle-loser-1.jpg');
      .p1 {
        left: 200px;
        top: 30px;
        width: 200px !important;
        height: 200px !important;
      }
    }
  }
}

[type=image-4-loser-2] {
  .modal-body {
    height: 300px;
    .meme-image {
      background: url('../images/memes/4-battle-loser-2.jpg');
      .p1 {
        top: 10px;
        left: 60px;
        width: 200px !important;
        height: 200px !important;
      }
    }
    .game-message {
      font-size: 35px !important;
    }
  }
}

[type=image-2-battle-1] {
  .modal-body {
    height: 350px;
    .meme-image {
      background: url('../images/memes/2-battle-1.jpg');
      .p1 {
        left: 75px;
      }
      .p2 {
        right: 35px;
      }
    }
  }
}

[type=image-2-battle-2] {
  .modal-body {
    height: 300px;
    .meme-image {
      background: url('../images/memes/2-battle-2.jpg');
      .p1 {
        top: 5px;
        left: 110px;
        width: 120px !important;
        height: 120px !important;
      }
      .p2 {
        top: 5px;
        right: 110px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

[type=image-3-battle-1] {
  .modal-body {
    height: 260px;
    .meme-image {
      background: url('../images/memes/3-battle-1.jpg');
      .p1 {
        left: 35px;
        top: 5px;
        width: 120px !important;
        height: 120px !important;
      }
      .p2 {
        right: 175px;
        top: 5px;
        width: 120px !important;
        height: 120px !important;
      }
      .p3 {
        right: 5px;
        top: 5px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

[type=image-3-battle-2] {
  .modal-body {
    height: 260px;
    .meme-image {
      background: url('../images/memes/3-battle-2.jpg');
      .p1 {
        top: 5px;
        left: 80px;
        width: 120px !important;
        height: 120px !important;
      }
      .p2 {
        top: 5px;
        left: 210px;
        width: 120px !important;
        height: 120px !important;
      }
      .p3 {
        top: 5px;
        right: 60px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}

[type=image-4-battle-1] {
  .modal-body {
    height: 310px;
    .meme-image {
      background: url('../images/memes/4-battle-1.jpg');
      .p1 {
        left: 5px;
        top: 35px;
        width: 140px !important;
        height: 140px !important;
      }
      .p2 {
        left: 135px;
        top: 25px;
        width: 140px !important;
        height: 140px !important;
      }
      .p3 {
        right: 145px;
        top: 25px;
        width: 140px !important;
        height: 140px !important;
      }
      .p4 {
        right: 5px;
        top: 25px;
        width: 140px !important;
        height: 140px !important;
      }
    }
  }
}

[type=image-4-battle-2] {
  .modal-body {
    height: 310px;
    .meme-image {
      background: url('../images/memes/4-battle-2.jpg');
      .p1 {
        top: 35px;
        left: 50px;
        width: 120px !important;
        height: 120px !important;
      }
      .p2 {
        top: 45px;
        left: 150px;
        width: 120px !important;
        height: 120px !important;
      }
      .p3 {
        top: 10px;
        right: 150px;
        width: 120px !important;
        height: 120px !important;
      }
      .p4 {
        right: 25px;
        top: 5px;
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
}